
.device-sidebar {
  display: inline-block;
  vertical-align: top;
  width: 230px;
  // background: #212121;
  color: $white;
  font-family: $sans;
  -webkit-font-smoothing: antialiased;
}

.sidebar-tabs {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.sidebar-tabs__item {
  display: inline-block;
  width: 50%;
  padding: 12px 0;
  vertical-align: top;
  text-align: center;
  background: #2f2f2f;
  letter-spacing: 0.5px;
  font-size: 1.4rem;
  transition: background 150ms ease;
  cursor: pointer;

  &:hover {
    background: #212121;
  }

  &.is-active {
    background: #212121;
  }
}

// Placeholder, delete later.
.effects {
  height: 54px;
  font-size: 1.2rem;
  padding: 15px;
}

.tool-label-wrapper {
  padding: 10px;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  background: #383838;
}

.tool-label {
  display: inline-block;
}

.tool-label-help {
  line-height: 1;
  margin-left: 10px;
  padding: 2px 5px 2px 6px;
  border-radius: 15px;
  background: $white;
  color: #212121;
  cursor: pointer;
  transition: all 200ms ease;
  transition-property: color, background;

  &:hover,
  &:focus {
    background: #212121;
    color: $white;
  }
}
